[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "zsh/anyframe"]
	path = zsh/anyframe
	url = git@github.com:mollifier/anyframe.git
